[Unit]
Description=Check Avito sales operation every minute

[Timer]
OnBootSec=60
OnUnitInactiveSec=60
AccuracySec=5
Persistent=true
Unit=avito-watchdog.service

[Install]
WantedBy=timers.target
